#product-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: clamp(12px, 2vw, 20px);
  width: 100%;
  padding: 1rem;
  background-color: var(--bg);
}

#product-detail #left-section{
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: sticky;
  top: 95px;
  background-color: var(--page);
  height: clamp(300px, 15vh, 500px);
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

#product-swiper {
  position: relative;
  background-color: rgb(139, 103, 103);
  box-sizing: border-box;
}

#product-swiper .swiper1 {
  width: 650px;
  height: 400px;
  box-sizing: border-box;
  object-fit: contain;

}


#swiper-sec .sec2 {
  background-color: burlywood;
  width: 600px;
  height: 100px;
}



#product-swiper .swiper1 img {
  width: 400px;
  object-fit: cover;
  display: block;
  height: 100%;
}


#product-swiper .swiper-slide {
  width: 600px;
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#product-swiper .mySwiper2 {
  height: auto;
  width: 650px;
}

#product-swiper .mySwiper {
  width: 650px;
  box-sizing: border-box;
}

#product-swiper .mySwiper .swiper-slide {
  width: 650px;
  height: auto;
  opacity: 1;
}
#product-swiper .mySwiper .swiper-slide img{
  width: 100px;
  height: auto;
}


 






#product-detail #right-section{
  overflow-y: auto;
  background-color: var(--page);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
}

#product-detail .product-title {
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 600;
  color: var(--text);
  font-family: 'Times New Roman', Times, serif;
  display: none;
}

#product-detail .product-description {
  font-size: clamp(10px, 1.5vw, 20px);
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--text);
}




@media (max-width: 600px) {
  #product-detail {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    padding-top: 30px;
    
  }
   #product-detail .product-title {
    display: block;
  }

  #product-detail .product-description {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #product-detail {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }
}

@media (min-width: 1025px) {
  #product-detail {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }
}
